body {
    background: url("bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    padding: 20px;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: white;
    text-align: center;
    max-width: 600px;
    margin-bottom: 40px;
}

/* Glassmorphism card effect */
.card {
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.46);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: left;
    transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.card:hover {
    transform: scale(1.05); /* Scale up the card on hover */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
}

.card h2 {
    margin-top: 0;
    color: black;
    text-align: left;
    font-weight: bold;
}

.card p {
    margin: 5px 0;
    color: white;
    text-align: left;
}

.card b {
    display: block;
    color: black;
    font-weight: bold;
    text-align: left;
}

/* New CSS for Oxidation States */
.oxidation-states {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
